@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-sky: #d1d9e9;
  --color-darkblue: #375d9a;
  --color-ocean: #198bab;
  --color-lightblue: #a3d1dd;
  --color-frost: #d5eff1;
  --color-greyblue: #d1d9e9;
  --color-smoke: #f0f0f0;
  --color-happygreen: #0ac800;
  --color-sadred: #c80000;
}

@layer base {
  h1 {
    @apply text-6xl font-semibold;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }

  .bg-greyblue {
    background: linear-gradient(180deg, #ffffff 0%, #d5eff1 100%);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  /* font-family:
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif; */
  font-family: 'Inter', 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

iframe {
  border: none;
}
